{% extends 'base.html.twig' %}

{% block title %}Data index{% endblock %}

{% block body %}
    <h1>Data index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for data in data %}
            <tr>
                <td>{{ data.id }}</td>
                <td>
                    <a href="{{ path('app_data_show', {'id': data.id}) }}">show</a>
                    <a href="{{ path('app_data_edit', {'id': data.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_data_new') }}">Create new</a>
{% endblock %}
